/* general styles */
.App {
  /* text-align: center; */
  /* border: 1px solid orangered; */
  width: 90%;
  margin: 0 auto;
}

/* loader styles */
.lds-grid {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  /* border: 1px solid red; */
  margin: 150px auto 0 auto;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(73, 70, 70);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* heading styles */
.HeadingContainer {
  /* outline: 1px solid blue; */
  margin: 25px 0 0 0;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.Brand {
  /* outline: 1px solid red; */
  margin-right: 20px;
}

.InputGroup {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.SearchInput {
  width: 120%;
  height: 50px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: 9px 13px;
  padding: 14px;
  outline: none;
  text-indent: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #494848;
}

.SearchInput::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #bdbdbd;
}

.AddPhotoBtn {
  width: 137px;
  height: 50px;
  background: #3db46d;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

/* photoGrid styles */
.PhotoGridContainer {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-top: 50px; */
  /* border: 1px solid blue; */
  opacity: 1;
}

.Cell {
  /* background: #e91e63; */
  width: 385.5px;
  height: 306.29px;
  display: flex;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-right: 26.5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.8s opacity;
}

.Cell:hover {
  opacity: 0.5;
}

.c4 {
  width: 388.5px;
  height: 582.48px;
}

.c5 {
  width: 388.5px;
  height: 578.25px;
}

.c6 {
  /* order: 6; */
  height: 287.11px;
}

.c7 {
  height: 574.31px;
}

/* error styles */
.ErrorAlert {
  margin-top: 30px;
}

/* photo by label styles */
.PhotoByLabelContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  /* justify-content: space-between; */
  /* border: 1px solid blue; */
}

.PhotoByLabel {
  width: 31.33%;
  height: 306.29px;
  border-radius: 12px;
  margin-bottom: 40px;
  /* margin-right: 2%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.8s opacity;
}

.PhotoByLabel:hover {
  opacity: 0.5;
}
